.input {
    border: 1px solid #000000;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.input span {
    display: block;
    font-size: 20px;
}

.input input {
    /* margin-left: 10px; */
}

#calculate {
    margin: 10px;
}

.graph-block {
    border: 1px solid #000000;
    margin-top: 5px;
}